@import './base.css';

main {
	display: flex;
	flex-direction: column;
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 32px;
}

@media (max-width: 768px) {
	.header-content {
		padding: 0 24px;
	}
}